<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cabecalho-rodape.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='calendario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleContato.css') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">

    <title>Espaço Silmara Regina</title>
  </head>
  <body>
    <header class="header">
      <div id="logo">
        <img src="static/img/icon.jpg" alt="" width="110" />
      </div>
      <nav id="início" class="navigation">
        <ul class="menu">
          <li><a href="{{ url_for('index') }}">Início</a></li>
          <li><a href="{{ url_for('servicos') }}">Serviços</a></li>
          <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
          <li><a href="{{ url_for('contato') }}">Contato</a></li>

          {% if user_logged_in %}
            <li class="dropdown">
              <a href="#" title="Perfil">
                <i class="bx bx-user-circle" style="font-size: 24px;"></i>
              </a>
              <div class="dropdown-content">
                <a href="{{ url_for('perfil') }}">Perfil</a>
                <a href="{{ url_for('logout') }}">Sair</a>
              </div>
            </li>
          {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main id="fundo-início">
      <div id="inicio">
        <section class="design-início-lugar">
          <p class="textoInicio1">
            Venha evoluir com a gente! 
          </p>
        </section>
        <div class="slider">
          <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <div class="slide first">
              <img src="static/img//1.png" alt="">
            </div>
            <div class="slide">
              <img src="static/img//2.png" alt="">
            </div>
            <div class="slide">
              <img src="static/img//3.png" alt="">
            </div>
            <div class="navegacao-auto">
              <div class="autobtn1"></div>
              <div class="autobtn2"></div>
              <div class="autobtn3"></div>
            </div>
          </div>
          <div class="navegacao-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
          </div>

          <script>
            let count = 1;
            document.getElementById("radio1").checked = true;
      
            setInterval(function () {
              nextImage();
            }, 4000);
      
            function nextImage() {
              count++;
              if (count > 3) {
                count = 1;
              }
              document.getElementById("radio" + count).checked = true;
            }
          </script>

        </div>
        <section class="design-início-lugar">
          <p class="textoInicio2">
            Aqui, você é o que importa!
          </p>
        </section>
      </div>
      <section class="middle">
        <p class="phrase">No Espaço Silmara Regina, você encontra os seguintes serviços:</p>
          <div class="container-card">
            <div class="carditem">
              <img src="static/img//consultoria png.png" alt="Imagem Card" class="cardimg" id="specific-card2">
              <p class="badge" id="specific-title">Consultoria e Mentoria</p>
            </div>
            <div class="carditem">
              <img src="static/img//gestao png.png" alt="Imagem Card" class="cardimg">
              <p class="badge" id="specific-title3">Gestão Financeira</p>
            </div>
            <div class="carditem">
              <img src="static/img//psicoterapia.png" alt="Imagem Card" class="cardimg">
                <p class="badge" id="specific-title4">Atendimento Psicanalítico</p>
            </div>
            <div class="carditem" id="specific-card">
              <img src="static/img//lideranca de equipes.png" alt="Imagem Card" class="cardimg" id="specific-img">
              <p class="badge" id="specific-title2">Liderança de Equipes</p>
            </div>
          </div>
        <div class="read-more-button">
          <a href="{{ url_for('servicos') }}" id="read-more-link">Saiba mais</a>
        </div>
      </section>
    </main>
  </body>
</html>